---
layout: default
---

<div class="home">
  
  
 <div class="col col-12">
      <div class="col col-4">
          <div class="block glass"  style="background-image:url(assets/profile.JPG); min-height: 330px">      
          </div>
      </div>
      <div class="col col-8">
        <div class="block glass" style="min-height: 330px">
            <div style="height: 30px"></div>
            <div class="block-body">
                <h2>Hi, I'm Alex Cook</h2>
                <p class="grey-text medium-font">I am a Staff Software Engineer working on the IBM Streams Development team. My focus is in teaming up with our research division to bring streaming analytics to new markets by providing "next step" solutions that have never been implemented before. </p>
            </div>
            <div style="height: 30px"></div>
        </div>
      </div>  
  </div>
  <!--
  <div class="col col-12">
    {% for port in site.data.portfolio %}
      <div class="col col-{{port.width}}">
        <div class="block" style="background-image:url(assets/{{port.img}})">
            <div class="block-body height-{{port.height}}">              
                <h2 class="align-bottom-right">
                  {{ port.title }}
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
    -->
  <div class="col col-9">
    {% for post in site.posts %}
      <div class="col col-{{post.width}}">
        <div class="block {{post.color}}">
            <div class="block-body height-{{post.height}}">
                <!--<span class="post-meta white-text">{{ post.date | date: "%b %-d, %Y" }}</span> -->

                <h2>
                  <a class="post-link white-text" href="{% if post.uri %} {{ post.uri }} {% else %} {{ post.url | prepend: site.baseurl }} {% endif %} ">{{ post.title }}</a>
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="col col-3">
        <div class="block glass">
            <div class="block-body">
                <h3 class="margin-bot">Skills</h3>                
                {% for skill in site.data.skills %}
                <span class="post-meta white-text">{{skill.descr}}</span>
                <div class="progress margin-bot"><div class="progress-{{skill.xp}}"></div></div>                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
